TAG=latest

PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=replace_with_strong_alphanumeric_password
PG_DATABASE_HOST=db
PG_DATABASE_PORT=5432
REDIS_URL=redis://redis:6379

SERVER_URL=http://localhost:3002

# Generate with: openssl rand -base64 32
ENCRYPTION_KEY=replace_with_random_encryption_key
FALLBACK_ENCRYPTION_KEY=
APP_SECRET=

STORAGE_TYPE=local
