DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=crm_demo
DB_USER=crm_user
DB_PASSWORD=replace_with_local_password
TELEGRAM_BOT_TOKEN=replace_with_bot_token
TELEGRAM_CHAT_ID=replace_with_chat_id
TWENTY_BASE_URL=http://localhost:3002
TWENTY_API_KEY=replace_with_twenty_api_key
TWENTY_WEBHOOK_SECRET=replace_with_random_webhook_secret
